# Ignore Python bytecode cacheonly for backend
/backend/**/__pycache__/
**/__pycache__/
**/*.py[cod]

.venv/
venv/

# Adjusted to ignore the database file without specifying the folder
**/restaurant_delivery.db

# Ignore uploads folder
**/uploads/