/* Scoped red accents for Motorcycles list */

:host {
	.card-header h3 {
		color: #c53030; /* red-700 */
	}

	.btn-danger {
		background-color: #e53e3e;
		border-color: #e53e3e;
	}

	.btn-outline-danger {
		color: #e53e3e;
		border-color: #e53e3e;
	}
}
